<div style="height: 300px; width: 100%; display: table;">
    <table id="dglh_<%= @indikator_id.to_s %>" 
        class="easyui-datagrid" 
        data-options="method: 'GET', border: false, fit:true, pageSize: 20"
        singleSelect="true"
        url="/admkk/indi/pera/grid_data/child_data",
        rownumbers="true"
        pagination="true">
        <thead>
            <tr>
                <th field="tahun" sortable="true">Tahun</th>
                
                <!-- 108 -->
                <% if(@indikator_id.to_s == '108') %>
                <th field="k1_1" sortable="true" editor="{type:'numberbox'}">
                    <%= judul_field('k1_1') %>
                </th>
                <th field="k1_2" sortable="true" editor="{type:'numberbox'}">
                    <%= judul_field('k1_2') %>
                </th>
                <th field="k1_3" sortable="true" editor="{type:'textbox'}">
                    <%= judul_field('k1_3') %>
                </th>
                <% end %>

                <!-- 109 -->
                <% if(@indikator_id.to_s == '109') %>
                <th field="k2_1" sortable="true" editor="{type:'numberbox'}">
                    <%= judul_field('k2_1') %>
                </th>
                <th field="k2_2" sortable="true" editor="{type:'numberbox'}">
                    <%= judul_field('k2_2') %>
                </th>
                <th field="k2_3" sortable="true" editor="{type:'textbox'}">
                    <%= judul_field('k2_3') %>
                </th>
                <% end %>

                <!-- 110 -->
                <% if(@indikator_id.to_s == '110') %>
                <th field="k3_1" sortable="true" editor="{type:'numberbox'}">
                    <%= judul_field('k3_1') %>
                </th>
                <th field="k3_2" sortable="true" editor="{type:'numberbox'}">
                    <%= judul_field('k3_2') %>
                </th>
                <th field="k3_3" sortable="true" editor="{type:'textbox'}">
                    <%= judul_field('k3_3') %>
                </th>
                <% end %>

                <!-- 111 -->
                <% if(@indikator_id.to_s == '111') %>
                <th field="k4_1" sortable="true" editor="{type:'numberbox'}">
                    <%= judul_field('k4_1') %>
                </th>
                <th field="k4_2" sortable="true" editor="{type:'numberbox'}">
                    <%= judul_field('k4_2') %>
                </th>
                <th field="k4_3" sortable="true" editor="{type:'textbox'}">
                    <%= judul_field('k4_3') %>
                </th>
                <% end %>

            </tr>
        </thead>
    </table>
</div>
    
<script type="text/javascript">
$(document).ready(function(){
    $('#dglh_<%= @indikator_id.to_s %>').edatagrid({
        url: '/admkk/indi/lh/grid_data/child_data',
        updateUrl: '/admkk/indi/lh/grid_data/child_update'
    });
});
</script>